<!doctype html>
<html lang="en" ng-app="bankapp">
<head>
<meta charset="utf-8">
<title>Google Phone Gallery</title>
<link rel="stylesheet" href="../../../bootstrap/dist/css/bootstrap.css">
<script src="../../../angular/angular.min.js"></script>
<script src="../controller/bankController.js"></script>


</head>
<body ng-controller="BankListCtrl">

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				<!--Sidebar content-->

				Search: <input ng-model="query"> Sort by: <select
					ng-model="orderProp">
					<option value="name">Alphabetical</option>
					<option value="id">id</option>
				</select>
				<form name="newBankForm">
					name: <input ng-model="name" placeholder="Enter a Bankname here">
					
				</form>
				<form name=blzform>
				<div ng-include='"Templates/blzInput.html"'></div>
				</form>
					<button ng-click="add()">addtestBank</button>
					<button ng-click="refresh()">refresh</button>
				<p></p>
				id: <input ng-model="id" type="number"
					placeholder="Enter a Bankid here">
				<button ng-click="del()">delete Bank</button>
			</div>


			<div class="col-md-10">
				<!--Body content-->
				<p>{{status}}</p>
				<ul ng-class="banks">

					<li ng-repeat="bank in banks | filter:query | orderBy:orderProp">
						<span>Name: {{bank.name}}</span>
						<p>id: {{bank.id}}</p>
						<p>BLZ: {{bank.sortCode}}</p>

					</li>
				</ul>
			</div>
		</div>
	</div>
</body>