<form name="blzform">
blz: <input ng-model="blz" name="blz" type="number" min="0"
		ngMinlength="5" minlength="5" ngMaxlength="10" maxlength="10"
		placeholder="Enter a BLZ here"> <span class="error"
		ng-show="blzform.blz.$error.maxlength"> to long!</span> <span
		class="error" ng-show="blzform.blz.$error.minlength"> to
		short!</span>
		
	<p
		ng-if="blzform.blz.$error.maxlength==null && blzform.blz.$error.minlength==null">{{10-blzform.blz.$viewValue.length}}
		remaining </p>
	<p>{{!blzform.blz.$invalid}} validate blz </p>
</form>	
