<!doctype html>
<html lang="en" ng-app="phonecatApp3">
<head>
<meta charset="utf-8">
<title>Google Phone Gallery</title>
<link rel="stylesheet" href="../../../bootstrap/dist/css/bootstrap.css">
<script src="../../../angular/angular.min.js"></script>
<script src="../controller/controller3.js"></script>


</head>
<body ng-controller="PhoneListCtrl3">

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				<!--Sidebar content-->

				Search: <input ng-model="query"> Sort by: <select
					ng-model="orderProp">
					<option value="name">Alphabetical</option>
					<option value="id">id</option>
				</select>

			</div>


			<div class="col-md-10">
				<!--Body content-->
				<p>{{status}}</p>
				<ul ng-class="phones">
					
					<li ng-repeat="phone in phones | orderBy:orderProp">
						<span>Name: {{phone.name}}</span>
						<p>id: {{phone.id}}</p>
						<p>BLZ: {{phone.sortCode}}</p>
						
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>